/*header {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*body {*/
/*  font-family: "Work Sans", serif;*/
/*  background-color: var(--col01);*/
/*  color: var(--col02);*/

/*  margin-bottom: 3rem;*/
/*}*/

/*main,*/
/*section {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  gap: 1rem;*/
/*}*/

/*details {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*summary {*/
/*  font-size: 1.5rem;*/
/*  cursor: pointer;*/
/*}*/

/*h4 {*/
/*  font-size: 1.5rem;*/
/*  font-weight: normal;*/
/*}*/

h3 {
  font-size: 1.5rem;
}

.loadExamples {
  width: 100%;
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.loadExamples figure {
  height: 10rem;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

figcaption {
  text-align: center;
}

/*!***** Button Demos *****!*/
.buttonDemos button {
  width: fit-content;
  margin-bottom: 1rem;
}

#slowFeedback {
  background-color: lightgray;
  border: 1px darkgrey solid;
  border-radius: 3px;
  transition: 3s;
}
#slowFeedback:hover {
  background-color: darkgrey;
}
#fastSlowFeedback {
  background-color: lightgray;
  border: 1px darkgrey solid;
  border-radius: 3px;
  transition: 1s;
}
#fastSlowFeedback:hover {
  background-color: darkgrey;
  transition: 0s;
}
#activeButton {
  background-color: lightgray;
  border: 1px darkgrey solid;
  border-radius: 3px;
  transition: 1s;
}
#activeButton:hover {
  background-color: darkgrey;
  transition: 0s;
}
#activeButton:active {
  background-color: rgb(87, 87, 87);
}
#pointerButton {
  background-color: lightgray;
  border: 1px darkgrey solid;
  border-radius: 3px;
  transition: 1s;
}
#pointerButton:hover {
  background-color: darkgrey;
  transition: 0s;
  cursor: pointer;
}
#scaleButton {
  background-color: lightgray;
  border: 1px darkgrey solid;
  border-radius: 3px;
  transition: 0s;
}
#scaleButton:hover {
  background-color: darkgrey;
  transition: 3s;
  transform: scale(2);
}

/*Novel Feedback Demos*/

#cacheButton {
  background-color: var(--col02);
  color: var(--col01);
  border-width: 0;
  font-size: 2rem;
  transition: 0.03s;
  border-radius: 1rem;
}
#cacheButton:hover {
  border-radius: 0;
}
#cacheButton:active {
  filter: invert();
}
datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 15rem;
}
option {
  padding: 0;
}

#stageContainer {
  width: 100%;
}

.controlBar {
  width: 100%;
  display: flex;
}
.controlBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*!* below input range style based on alyssa hollands article: https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ *!*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  margin: 2rem;
}
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/*!***** Chrome, Safari, Opera, and Edge Chromium *****!*/
/*!***** Track Styles *****!*/

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--col02);
  height: 0.5rem;
}
/***** Thumb Styles *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: var(--col02);
  height: 2rem;
  width: 1rem;
}
input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid var(--col01);
  outline: 3px solid var(--col02);
  outline-offset: 0.125rem;
}

/*!******** Firefox ********!*/
input[type="range"]::-moz-range-track {
  background: var(--col02);
  height: 0.5rem;
}
/***** Thumb Styles *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: var(--col02);
  height: 2rem;
  width: 1rem;
}
input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--col01);
  outline: 3px solid var(--col02);
  outline-offset: 0.125rem;
}

